.container {
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.content {
    width: 95%;
    min-width: 780px;
    min-height: 700px;
    background-color: var(--accent-color);
    padding: 15px;
    border-radius: 25px;
    display: flex;
	flex-direction: column;
}
.heading {
    display: flex;
    flex-direction: row;
}
.context {
    display: flex;
    flex-direction: column;
}
.heading .image img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.heading .context {
    margin-left: 15px;
    color: var(--main-color);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.heading .context .title {
    margin: 10px 0px;
}
.heading .context .title h1 {
    font-size: 1.5em;
}
.heading .context .description p {
    font-size: 1em;
}

.info-tags {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.episodes {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}