.container {
    width: 100%;
    height: calc(100dvh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.content {
    width: 90%;
    height: 90%;
    background-color: var(--accent-color);
    border-radius: 25px;
    display: flex;
	flex-direction: column;
}
.heading {
    display: flex;
    flex-direction: row;
}
.heading .image img {
    width: 300px;
    height: 500px;
    margin: 10px;
}