:root {
    --main-color: #573A98;
    --soundary-color: #F53CDA;
    --accent-color: #ADA0DD;
    --tertiary-color: #F7F8F6;
}
.container {
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: #dacbdf;
    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: stretch;
	    align-content: stretch;
}
