:root {
    --main-color: #573A98;
    --soundary-color: #F53CDA;
    --accent-color: #ADA0DD;
    --tertiary-color: #F7F8F6;
}
.container {
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: #dacbdf;
    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-items: stretch;
	    align-content: stretch;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 2px var(--main-color) solid;
    background-color: var(--main-color);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px var(--accent-color) solid;
    border-color: transparent;
    background-color: var(--accent-color);
    background-clip: padding-box;
}