<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body>
    <% if (results) { %>
        <h1>Results</h1>
        <ul>
            <% results.forEach(function(result) { %>
                <li>
                    <a href=<%= result.link %>>
                        <img src=<%= result.image %> alt="image" width="200" height="200">
                        <%= result.title %>
                    </a>
                    <br>
                </li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>