<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GoGrabbers</title>
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <script src="/js/nav.js"></script>
    <script src="/js/search.js" async></script>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%- include('./templates/nav.ejs') %>
<body>
    <div class="container">
        <div class="search-container">
            <div class="searchform-container">
                <form class="searchForm" action="/api/search" method="POST">
                    <input class='searchInput'type="text" name="search" placeholder="Search Anime Titles">
                    <button type="submit" class="search-button"></button>
                </form> 
            </div>
            <div class="search-content">
                Letters
            </div>
        </div>
    </div>
</body>

</html>
