<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GoGrabbers</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <script src="/js/nav.js" async></script>
    <script src="/js/search.js" async></script>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%- include('./templates/nav.ejs') %>
<body>
    <div class="container">
        <div class="search-content-container">
            <div class="searchform-container">
                <form id="searchFormPage" class="searchFormPage" action="api/search" method="POST" >
                    <input id="searchInputPage" class='searchInputPage' type="text" name="search" placeholder="Search Anime Titles">
                    <button type="submit" id="search-button-all"></button>
                </form> 
            </div>
            <div class="search-content">
            </div>
        </div>
    </div>
</body>
<script>
    const results = `<%- JSON.stringify(scrappedResults) %>`;
</script>
</html>
