<div class="content-container">
    <div class="content">
        <div class="content-header">
            <a href="google.com"><h2>Popular Anime</h2></a>
        </div>
        <div class="content-cards">
            <div class="prev-slide"><a class="prev">&#10094;</a></div>
            <div class="slide-content">
                <div class="item">
                    <a href="google.com" target="_blank">
                        <div class="image-container">
                            <img src="https://cdn.myanimelist.net/images/anime/5/87048.jpg?s=4d9f9a7a4a4e4f2a4a4a4a4a4a4a4a4a" alt="image">
                        </div>
                        <div class="title-container">
                            <h2>Wether With you</h2>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="google.com" target="_blank">
                        <div class="image-container">
                            <img src="https://cdn.myanimelist.net/images/anime/5/87048.jpg?s=4d9f9a7a4a4e4f2a4a4a4a4a4a4a4a4a" alt="image">
                        </div>
                        <div class="title-container">
                            <h2>Wether With you</h2>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="google.com" target="_blank">
                        <div class="image-container">
                            <img src="https://cdn.myanimelist.net/images/anime/5/87048.jpg?s=4d9f9a7a4a4e4f2a4a4a4a4a4a4a4a4a" alt="image">
                        </div>
                        <div class="title-container">
                            <h2>Wether With you</h2>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="google.com" target="_blank">
                        <div class="image-container">
                            <img src="https://cdn.myanimelist.net/images/anime/5/87048.jpg?s=4d9f9a7a4a4e4f2a4a4a4a4a4a4a4a4a" alt="image">
                        </div>
                        <div class="title-container">
                            <h2>Wether With you</h2>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="google.com" target="_blank">
                        <div class="image-container">
                            <img src="https://cdn.myanimelist.net/images/anime/5/87048.jpg?s=4d9f9a7a4a4e4f2a4a4a4a4a4a4a4a4a" alt="image">
                        </div>
                        <div class="title-container">
                            <h2>Extra Long Title because animes do this But how long can we go? holy shit this is super long the fuck>?</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="next-slide"><a class="next">&#10095;</a></div>
        </div>
    </div>
</div>