<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="nav">
        <section class="nav-left">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/search">Search</a>
        </section>
        <section class="nav-right">
            <div class="search-container">
                <form id="searchForm" action="/api/search" method="GET">
                    <input id='searchInput'type="text" name="search" placeholder="Search Anime Titles">
                    <button type="submit" id="search-button">

                    </button>
                </form>
                <div class="results-container">
                </div>
            </div>
        </section>
    </div>
</header>
