<div class="content">
    <div class="title">
        <h1>Popular Anime</h1>
    </div>
    <div class="list-container">
        <% if (results) { %>
            <ul>
                <% results.popular.forEach(function(result, index) { %>
                    <li class="item">
                        <a href=<%= result.link %>>
                            <img src=<%= result.image %> alt="image" width="200" height="200">
                            <p><%= result.title %></p>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
</div>

<script>
    // get all items in the ul
    const items = document.querySelectorAll('.item');

    // remove results more then 5
    if (items.length > 5) {
        for (let i = 5; i < items.length; i++) {
            items[i].remove();
        }
    }
    console.log(items)
</script>